
<body>
    <h1>Registro de Usuarios</h1>
    <form>
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" value="27473339T" />
      <span id="infoDNI"> </span>
      <br />
      <label for="nombre">NOMBRE:</label>
      <input type="text" id="nombre" name="nombre" value="Marco Elio" />
      <br />
      <label for="apellidos">APELLIDOS:</label>
      <input type="text" id="apellidos" name="apellidos" value="García Gomariz" />
      <br />
  
      <br />
  
      <table id="tabla_personas" border="1">
        <tr>
          <th>ID</th>
          <th>DNI</th>
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>OPCIONES</th>
        </tr>
  
        <tbody id="filas_tabla">
          <tr *ngFor="let datos of tablaPer">
            <td>{{datos.id}}</td>
            <td>{{datos.dni}}</td>
            <td>{{datos.nombre}}</td>
            <td>{{datos.apellidos}}</td>
          </tr>
        </tbody>
      </table>
  
      <br />
      <br />
      <input type="button" value="AÑADIR" id="btAnade" />
    </form>
  
  </body>